<!-- {% load staticfiles %} -->
<html>
	<title> 404 Page </title>
	<!-- <head>
	    <link href="{% static 'Main/css/bootstrap.css' %}" rel="stylesheet">
	    <link href="{% static 'Main/css/basic.css' %}" rel="stylesheet">
	</head>
	<body>

		<div class = "container">
			Page Not Available!
		</div>



		<script type="text/javascript" src="{% static 'Main/js/jquery-331.js' %}"></script>
		<script type="text/javascript" src="{% static 'Main/js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'Main/js/index.js' %}"></script>
	</body> -->
	<body>
		<h1>CUSTOM 404 PAGE</h1>
	</body>
</html>