{% load staticfiles %}
<html>
	<title> 404 Page </title>
	<head>
	    <link href="{% static 'Main/css/bootstrap.css' %}" rel="stylesheet">
	    <link href="{% static 'Main/css/404.css' %}" rel="stylesheet">
	</head>
	<body>


		<div class = "container mainbody">
			<img src="{% static 'Main/images/panda_logo.png' %}"/>
			Page Not Available!
		</div>

		<script type="text/javascript" src="{% static 'Main/js/jquery-331.js' %}"></script>
		<script type="text/javascript" src="{% static 'Main/js/bootstrap.js' %}"></script>
		<script type="text/javascript" src="{% static 'Main/js/index.js' %}"></script>
	</body>
</html>